<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <h3 class="nav-link">Novozy Mart Food Delivery</h3>
          </li>
        </ul>

      </div>
      <div class="d-flex align-items-center">
        <div class="row">
          <a class="d-flex align-items-center hidden-arrow user-avatar" id="navbarDropdownMenuAvatar"
             aria-expanded="false">
            <img src="assets/images/avatar.png" alt="User Avatar">
            <span class="username">Hey {{username}}</span>
          </a>
        </div>
      </div>
    </div>
  </nav>

</div>
